Repository RonRonstation/ronstation, pull requests merged in 2024-12, with the labels that each got.

#148 This is a relatively minor change to Saltern-2 intended to become a series of updates to the famed map
  Resources/Maps/Ronstation/saltern-2.yml
  Resources/Prototypes/Ronstation/Maps/saltern-2.yml
Labels: Changes: No C#, Changes: Map, A: Mapping, size/L, S: Approved

#152 Changes the dormitory.
  Resources/Maps/Ronstation/saltern-2.yml
Labels: Changes: No C#, S: Untriaged, Changes: Map

#151 More chemistry
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/meta/pyrotechnic.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: Changes: No C#, size/L

#153 Updates the bridge to include more form and maintain function.
  Resources/Maps/Ronstation/saltern-2.yml
Labels: Changes: No C#, Changes: Map, A: Mapping, size/XL

#156 Updates Cargo to fix an error and improve it a little.
  Resources/Maps/Ronstation/saltern-2.yml
Labels: Changes: No C#, Intent: Hotfix, A: Mapping, size/XL

#155 Procedural Planets now generate mushrooms
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: Changes: No C#, A: Cargo/Salvage, A: Medical, size/M

#159 Biogenerator updates + new chemicals
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
Labels: Changes: No C#, S: Untriaged, size/M

#158 Make gingerbread people playable.
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/full.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/head_f.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/head_m.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_arm.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_foot.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_hand.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_leg.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/meta.json
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_arm.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_foot.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_hand.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_leg.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/torso_f.png
  Resources/Textures/Ronstation/Mobs/Species/Gingerbread/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, S: Untriaged, size/L

#154 Substantial security sprites update, and adds a new blueshield uniform.
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Ronstation/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Ronstation/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Ronstation/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Ronstation/Loadouts/loadout_groups.yml
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/light-equipped-HELMET.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/lighton-equipped-HELMET.png
  Resources/Textures/Ronstation/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/blueshield.rsi/meta.json
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpskirt/security.rsi/meta.json
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/blueshield.rsi/meta.json
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Uniforms/Jumpsuit/security.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, S: Needs Discussion, T: Visual Change, size/L

#157 Fix licensing.
  LICENSE.TXT
Labels: T: Bug, Changes: No C#, size/XS, A: Legal

#164 Saltern update again.
  Resources/Maps/Ronstation/saltern-2.yml
Labels: Changes: No C#, S: Needs Review, P3: Standard, Changes: Map, A: Mapping, size/XL

#166 [HOTFIX] Fix saltern-2 atmos.
  Resources/Maps/Ronstation/saltern-2.yml
Labels: T: Bug, Changes: No C#, S: Needs Review, S: Untriaged, Changes: Map, size/S, Intent: Hotfix, A: Mapping

#167 quickiest quicky fix ever
  Resources/Maps/Ronstation/Shuttles/ShuttleEvent/ERTcburn.yml
Labels: T: Bug, Changes: No C#, Changes: Map, Intent: Hotfix, A: Mapping, size/M

#168 Update maps.
  Resources/Maps/Ronstation/Shuttles/emergency_medium.yml
  Resources/Maps/Ronstation/Shuttles/emergency_small.yml
  Resources/Maps/Ronstation/atlas-2.yml
  Resources/Maps/Ronstation/cluster-2.yml
  Resources/Maps/Ronstation/saltern-2.yml
  Resources/Prototypes/Ronstation/Maps/saltern-2.yml
Labels: Changes: No C#, S: Needs Review, P3: Standard, S: Untriaged, Changes: Map, A: Mapping, size/XL

#172 Saltern update
  Resources/Maps/Ronstation/saltern-2.yml
  Resources/Prototypes/Ronstation/Maps/saltern-2.yml
  Test.txt
Labels: Changes: No C#, Changes: Map, A: Mapping, A: Security, A: Service, size/L

#169 hm
  Resources/Locale/en-US/ronstation/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Ronstation/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Ronstation/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Ronstation/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/security-red.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Eyes/Hud/sec_visor.rsi/equipped-EYES.png
  Resources/Textures/Ronstation/Clothing/Eyes/Hud/sec_visor.rsi/icon.png
  Resources/Textures/Ronstation/Clothing/Eyes/Hud/sec_visor.rsi/inhand-left.png
  Resources/Textures/Ronstation/Clothing/Eyes/Hud/sec_visor.rsi/inhand-right.png
  Resources/Textures/Ronstation/Clothing/Eyes/Hud/sec_visor.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S
