Repository RonRonstation/ronstation, pull requests merged in 2025-08, with the labels that each got.

#330 Make Chaplain immune to direct target spell effects (Curses, Smite)
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Bible/Components/BibleUserComponent.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Bible/Components/BibleUserComponent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Resources/Locale/en-US/_Ronstation/magic/magic.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#334 Atlas 3 hotfixes
  Resources/Maps/_Ronstation/atlas-3.yml
Labels: Changes: No C#, Changes: Map

#341 Guidebook Job ordering change
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/_Ronstation/Guidebook/Jobs.xml
Labels: Changes: No C#, S: Needs Review, S: Undergoing maintainer discussion, size/S, P4: Fluff, A: Guidebook, A: UI

#339 Vent Critters post-factum changes
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: enhancement, S: Needs Review, P2: Raised, size/S, A: Combat, A: Roundflow/Antag

#323 Allow extractable materials to be transferred directly from a bag to a grinder/biogenerator
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
Labels: S: Needs Review, size/S, A: Accessibility, A: General Interactions

#347 Cosmatic Drift attribution
  LEGAL.md
Labels: Changes: No C#, S: Needs Review, P0: Critical, Intent: Compliance, size/XS, A: Legal, DB: Beginner Friendly

#351 Atlas 3 update again
  Resources/Maps/_Ronstation/atlas-3.yml
Labels: Changes: No C#, S: Untriaged, Changes: Map, size/L

#354 Add Atlas 3 & Feint Station to rotation
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#353 Space Law additions
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/_Ronstation/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, S: Needs Review, P3: Standard, size/S, S: Awaiting Changes, A: Rules, A: Security

#355 Modifications to Roleplay rules 9 and 12 entries
  Resources/Locale/en-US/_Ronstation/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/_Ronstation/Guidebook/ServerRules/RoleplayRules/RuleR12RoleAbandonment.xml
  Resources/ServerInfo/_Ronstation/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
Labels: Changes: No C#, P1: High, A: Guidebook, A: Rules, T: Of Admin Interest, S: Approved, DB: Beginner Friendly

#332 Add a variety of Admeme prototypes
  Resources/Prototypes/_Ronstation/Catalog/Fills/Backpacks/satchel.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_Ronstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Ronstation/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_Ronstation/Roles/Jobs/CentComm/official.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/M

#357 Vampire: The basics
  Content.Client/_Ronstation/Vampire/EntitySystems/VampireSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/_Ronstation/GameTicking/Rules/Components/VampireRuleComponent.cs
  Content.Server/_Ronstation/GameTicking/Rules/VampireRuleSystem.cs
  Content.Server/_Ronstation/Roles/VampireRoleComponent.cs
  Content.Server/_Ronstation/Vampire/EntitySystems/VampireSystem.cs
  Content.Shared/_Ronstation/Vampire/Components/VampireComponent.cs
  Content.Shared/_Ronstation/Vampire/EntitySystems/SharedVampireSystem.cs
  Resources/Locale/en-US/_Ronstation/administration/antag.ftl
  Resources/Locale/en-US/_Ronstation/game-ticking/game-presets/preset-vampire.ftl
  Resources/Locale/en-US/_Ronstation/guidebook/guides.ftl
  Resources/Locale/en-US/_Ronstation/mind/role-types.ftl
  Resources/Locale/en-US/_Ronstation/prototypes/roles/antags.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/_Ronstation/Actions/vampire.yml
  Resources/Prototypes/_Ronstation/GameRules/subgamemodes.yml
  Resources/Prototypes/_Ronstation/Guidebook/antagonist.yml
  Resources/Prototypes/_Ronstation/Objectives/StatusIcon/faction.yml
  Resources/Prototypes/_Ronstation/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Ronstation/Objectives/vampire.yml
  Resources/Prototypes/_Ronstation/Roles/Antags/vampire.yml
  Resources/Prototypes/_Ronstation/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Ronstation/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/_Ronstation/Guidebook/Antagonist/Vampire.xml
  Resources/Textures/_Ronstation/Interface/Misc/job_icons.rsi/Vampire.png
  Resources/Textures/_Ronstation/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, P3: Standard, A: Roundflow/Antag, size/M

#365 Emergency fix for missing survival boxes
  Resources/Prototypes/_Ronstation/Loadouts/Role/Cargo/cargo_technician.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Cargo/quartermaster.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Cargo/salvage_specialist.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/bartender.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/botanist.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/chaplain.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/chef.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/clown.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/janitor.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/lawyer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/librarian.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/mime.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/musician.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/passenger.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Civilian/service_worker.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Command/blueshield_officer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Command/captain.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Command/head_of_personnel.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Engineering/chief_engineer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Engineering/station_engineer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Engineering/technical_assistant.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Medical/chemist.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Medical/medical_doctor.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Medical/medical_intern.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Medical/paramedic.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Science/research_assistant.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Science/research_director.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Science/scientist.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Security/detective.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Security/head_of_security.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Security/security_cadet.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Security/security_officer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Security/warden.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Wildcards/boxer.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Wildcards/psychologist.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Wildcards/reporter.yml
  Resources/Prototypes/_Ronstation/Loadouts/Role/Wildcards/zookeeper.yml
Labels: Changes: No C#, S: Untriaged

#364 Implement antag playtime tracking
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Locale/en-US/_Ronstation/job/job-names.ftl
  Resources/Prototypes/Roles/Antags/changeling.yml
  Resources/Prototypes/Roles/Antags/dragon.yml
  Resources/Prototypes/Roles/Antags/generic.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/paradoxClone.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/silicon.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/_Ronstation/Roles/Antags/vampire.yml
  Resources/Prototypes/_Ronstation/Roles/play_time_trackers.yml
Labels: S: Needs Review, S: Untriaged, size/M

#356 Saltern-II Rework
  Resources/Maps/Ronstation/Shuttles/emergency_saltern.yml
  Resources/Maps/Ronstation/saltern-2.yml
  Resources/Prototypes/Ronstation/Maps/saltern-2.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, Changes: Map, size/XL

#366 Fix sock markings (revival of #269).
  Resources/Locale/en-US/_Ronstation/accessories/socks.ftl
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_Ronstation/Entities/Mobs/Customization/Markings/socks.yml
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/left_lower_sock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/left_upper_sock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/leftsock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/meta.json
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/right_lower_sock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/right_upper_sock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/rightsock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/vox_left_sock.png
  Resources/Textures/_Ronstation/Mobs/Customization/socks.rsi/vox_right_sock.png
Labels: Changes: Sprites, Changes: No C#, size/S

#361 Make new life rule enforced under LRP
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/_Ronstation/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: No C#, P3: Standard, size/S, A: Rules

#352 Make SyndiMothroaches not useless
  Resources/Locale/en-US/ronstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ronstation/store/uplink-catalog.ftl
  Resources/Prototypes/Ronstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/Ronstation/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Needs Review, P3: Standard, size/S, A: Combat, A: Roundflow/Antag

#371 Another Atlas 3 patch
  Resources/Maps/_Ronstation/atlas-3.yml
Labels: Changes: No C#, S: Untriaged, Changes: Map

#372 Another Feint patch
  Resources/Maps/_Ronstation/feint.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, Changes: Map, size/XL

#368 More trinket plushies!
  Resources/Prototypes/_Ronstation/Loadouts/Groups/trinkets.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/arachind.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/atmosian.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/bee.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/carp.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/diona.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/hampter.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/human.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/lamp.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/magicarp.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/moth.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/nar.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/nuke.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/penguin.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/ratvar.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/shark_blue.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/shark_grey.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/shark_pink.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/slime.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/snake.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/Plushies/vox.yml
  Resources/Prototypes/_Ronstation/Loadouts/Trinkets/toys.yml
Labels: Changes: No C#, S: Untriaged, size/M
